

*{color: var(--text-color);}
body{
  background-color: transparent;
}

a{
  text-decoration: none;

}

:root{
  
  display: flex;
  justify-content: center;


}

.links{
  
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;

  background-color: var(--primary-color);
  padding: .5rem .6rem .5rem .8rem;
 
  border:0;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 2;
  a{
  color: var(--secondary-text-color);
  }
}
.coloricon{
  margin-right: 0;
  margin-left: auto;
}



.light{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;





  --primary-color: #9CD9D2;
  --secondary-color: #23606F;
  --text-color: #23606F;
  --secondary-text-color: #23606F;
  --border-color:#44494B;
  

$background-image-link:url(./assets/imgs/background.png);
min-height: 100vh; 
  width: 100vw;
  background-image: $background-image-link;
  background-size: cover;
  background-position: center center;
 


  display: flex;
  justify-content: center;
}
.dark{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;




  
  --primary-color: #C64330;
--secondary-color: #23606F;
--text-color: #C64330;
--secondary-text-color: #F3F4F4;
--border-color:#F3F4F4;


$background-image-link:url(./assets/imgs/backgroundblack.png);
min-height: 100vh;
 
  width: 100vw;
  background-image: $background-image-link;
  background-size: cover;
  background-position: center center;
 

  display: flex;
  justify-content: center;
}