@import './colorscheme.scss';

a{
  text-decoration: none;

}



.links{
 
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;

  background-color: #9cd9d266;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border:0;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 2;
  
}
.coloricon{
  margin-right: 0;
  margin-left: auto;
}