
$primary-color: #9CD9D2;
$secondary-color: #23606F;
$text-color: #23606F;
$border-color:#44494B;

[data-theme="dark"] {
  $primary-color: #C64330;
$secondary-color: #23606F;
$text-color: #C64330;
$border-color:#F3F4F4;
}

.app.light{
  
 
  
    button {
      background-color: #e6e6e6;
      color: #000000;
    }
  
    a {
      color: #bfbfbf;
    }
  
    h1, h2, h3 {
      color: #ffffff;
    }
  
    p {
      color: #bfbfbf;
    }
  }