
$primary-color: #9CD9D2;
$secondary-color: #23606F;
$text-color: #23606F;
$border-color:#44494B;

[data-theme="dark"] {
  $primary-color: #C64330;
$secondary-color: #23606F;
$text-color: #C64330;
$border-color:#F3F4F4;
}
