@import './colorscheme.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-image: url(./assets/imgs/background.png);
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;


}

*{color: $text-color;}
body{
  background-color: transparent;
}