# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.pyc
# dependencies
/client/node_modules
/client/.pnp
.pnp.js
/dictionary/dict/*

# testing
/coverage

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

env.txt



npm-debug.log*
yarn-debug.log*
yarn-error.log*
dictionary-b05f2-firebase-adminsdk-vikws-fd957889d2.json

parser.py

