@import '../colorscheme.scss';


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // border: 1px solid red;
}
.Row {
  display: block;
  align-items: center;
}
.form-box{

  margin: 0vw;
  padding: .5rem .8rem .5rem .8rem;
  position:relative; 
  
}
.form-box input, textarea{
 
  background: transparent;
  display: block;
  width: 20rem;
  
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border: 1px solid $border-color;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 2;
 
}
.form-box [type="submit"]:hover {
  background: $primary-color;
  cursor: pointer;

}
.form-box span{
  width: auto;
  font-size: 15px;
  text-align: center;
  color: red;

}