


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // border: 1px solid red;
}
.Row {
  display: block;
  align-items: center;

}
.form-box{

  margin: 0vw;
  padding: .5rem .6rem .5rem .8rem;
  position:relative; 
  
}
.form-box input, textarea{
 
  background-color: transparent;
  display: block;
  width: 18.75rem;
  
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 2;
 
}
.form-box [type="submit"]:hover {
  background: var(--primary-color);
  cursor: pointer;
  --text-color:--secondary-text-color;

}
.form-box span{
  width: auto;
  font-size: 15px;
  text-align: center;
  color: red;

}