.word-box{
    width: 18.75rem;
  
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
}
.word-name{
     display: flex;
     button{margin-left: 1rem;margin-top: 0.7rem; border: 0;}
}
.definition-sentence{
    display: flex;
}